<!-- 帳務紀錄-紀錄列 -->
<div class="row mt-4 mb-4  ">
    <div class="col-sm-9 record_left">
        <div class="row">
            <div class="col-sm-2 item_icon">
                <i class="fas fa-home fa-4x"></i>
            </div>
            <div class="col-sm-8">
                <p class="record_title">午餐</p>
                <p>2018/04/03</p>
            </div>
            <div class="col-sm-2 ">
                <p class="item_value">60</p>
            </div>
        </div>
    </div>
    <!-- 帳務紀錄-按鈕列 -->
    <div class="col-sm-3 record_right">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm">
                <a href="" class="record_button">修改</a>
            </div>
            <div class="col-sm">
                <a href="" class="record_button">刪除</a>
            </div>
        </div>
    </div>
</div>